.thumb-livro {
    display: flex;
    /* flex: 12.5%;
    width: 12.5vw;
    height: 16.53375vw;
    max-width: calc(100%/8); */
    flex: 33.333%;
    width: 33.333vw;
    height: 44.0882vw;
    max-width: calc(100%/3);
    min-width: 64px;
    min-height: 95.5px;
    float: left;
    background-color: #eee;
    /* -32,27513227513228% a menos da altura */
}

.thumb-livro:hover {
    opacity: 0.3;
}
.vitrine {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 480px){
    .thumb-livro {
        flex: 25%;
        width: 25vw;
        height: 33.0675vw;
        max-width: calc(100%/4);
    }

}
@media (min-width: 768px){
    .thumb-livro {
        flex: 20%;
        width: 20vw;
        height: 26vw;
        max-width: calc(100%/5);
    }
}
@media (min-width: 900px){
    .thumb-livro {
        flex: 16.6666%;
        width: 16.666vw;
        height: 22.0441vw;
        max-width: calc(100%/6);
    }
}
@media (min-width: 1024px){
    .thumb-livro {
        flex: 14.2857%;
        width: 14.2857vw;
        height: 18.8957vw;
        max-width: calc(100%/7);
    }
}
@media (min-width: 1280px){
    .thumb-livro {
        flex: 12.5%;
        width: 12.5vw;
        height: 15.8724vw;
        max-width: calc(100%/8);
    }

}