.menu-global{
    width: 100%;
    background: #eeee;
    align-content: right;
    position: relative;
    margin-top: 0;
}
.botao-menu{
    margin-top: 0;
    padding: 15px;
    /* height: 100%; */
    display: inline-block;
    text-decoration: none;
    background: #eeee;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration-color: black;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
        
}
.botao-menu:hover{
    cursor: pointer;
    animation-name: botao-menu;
    animation-duration: 0.1s;
    border-bottom: 1px solid;
    background-color: #fff;
}
.link-nav{
    text-decoration: none;
    color: black;
    text-decoration-color: black;
}
.thumb-livro{
    display: block;
    float: left;
    width: 128px;
    height: 189px;
    background-color: #eee;
}
@keyframes botao-menu{
    from{background-color: #ddd;}
    to{background-color: #fff;}
}
.link-pesquisa{
    text-decoration: none;
    color: black;
    text-decoration-color: black;
}
.botao-pesquisa{
    display: inline-block;
    border-color: black;
    border: 1px solid;
    margin-top: 0.5em;
    padding: 0.2em;
    border-radius: 5px 5px 5px 5px;
}


