html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.background-onda{
    background-color: #0576ff;
    background: linear-gradient(123deg, #0576ff, #36c9fb);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;

}
.conteudo{
    background-image: url('https://lh3.google.com/u/0/d/1dwmw_Jf3b0oYI3wMILUsllf9IR5NQ7mC=w1858-h960-iv1');
    background-size: contain;
    width: 100%;
    height: 80em;
    background-repeat: no-repeat;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
}
/* @media  only screen and (max-width: 480px){
    .conteudo{
    background-size: contain;
    }
} */


