.logo-tipo {
    /* display: flex; */
    font-family: 'Concert One', cursive;
    color: #ffffff;
    font-size: 3em;
    /* display: inline-block; */
    text-shadow: 0 2px 10px #015ed1;
    /* flex: 1; */

}

.menu {
    margin-top: 35px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.wrap-menu{
    display: flex;
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%)
}

.botao-menu-item {
    margin-right: 3em;
    position: relative;
    /* margin-left: 3vw; */
    display: inline-flex;
    text-shadow: 0 1px 2px #015ed1;


}

.botao-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex: 1; */


}


.link-menu-nav {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    text-transform: capitalize;

}

.link-menu-nav::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #fff;
    position: relative;
    border-radius: 25px;
    /* top: 0; */

    bottom: -120%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.link-menu-nav:hover::before {
    width: 100%;
}
@media  only screen and (max-width: 480px){
    .logo-tipo{
            display: none;
    }
    .link-menu-nav{
        padding: 2px;
    }
    .wrap-menu{
        width: 100%;
    }
    .botao-navegacao{
        justify-content: right;
        align-items: initial;
    }
    .menu{
        /* display: block; */
        margin-top: 5px;
        width: 100vw;
        justify-content: stretch;
    }
}